@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

/* 변수정의 */
:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

body {
  color: #222;
  font-style: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo";
  font-weight: 400;
  margin: 0 auto;
  position: relative;
}

.header {
  background-image: linear-gradient(
    90deg,
    rgba(235, 110, 165, 1) 0%,
    rgba(228, 0, 127, 1) 30%,
    rgba(96, 25, 134, 1) 70%
  );
}

#header {
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header.active {
  background-image: none;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  transition: all 0.4s;
}

.header.active .info-bar li a {
  color: #333;
}

.header.active .header-wrap .gnb li a {
  color: #333;
}

.header.active .header-wrap .logo a img {
  display: block;
  background-image: url("../images/main-header-logo-color.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 118px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.header.active .header-wrap .search {
  background-image: url(../images/main-search-bk.png);
  display: block;
}

.header.active .header-wrap .bar span {
  background: #333;
}

.header-wrap {
  height: 110px;
  width: 94%;
  margin: 0 auto;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 110px;
  padding: 14px 0;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/header-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 118px;
}

.header-wrap .info-bar {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  height: 45px;
  align-items: center;
}

.header-wrap .info-bar li:last-child a::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  background: url("../images/header-arrow-xia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
}
.header-wrap .info-bar li {
  padding: 0 10px;
  text-align: center;
}

.header-wrap .info-bar li a {
  color: #fff;
  font-size: 15px;
  line-height: 60px;
  font-weight: 400;
}

.header-wrap .info-bar li:hover a {
  text-decoration: underline;
}

.header-wrap .icon {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
}

.header-wrap .search {
  position: absolute;
  top: 63px;
  right: 40px;
  background-image: url("../images/main-search-wh.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: block;
}

.header-wrap .bar {
  padding-right: 20px;
  position: absolute;
  top: 68px;
  right: 0;
  display: block;
  width: 23px;
  height: 20px;
}

.header-wrap .bar a {
  width: 23px;
  height: 20px;
  display: block;
}

.header-wrap .bar span:nth-child(1) {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
}

.header-wrap .bar span:nth-child(2) {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 60%;
  background: #fff;
}

.header-wrap .bar span:nth-child(3) {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #fff;
}

.header .gnb {
  position: relative;
}

.header .gnb .shadow {
  display: none;
  position: fixed;
  top: 110px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  z-index: -1;
}

.header .gnb .gnb-bg {
  display: none;
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: -1;
  height: 420px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.header-wrap > .gnb > ul {
  display: flex;
  position: absolute;
  top: 50px;
  left: calc(50% - 585px);
  width: 1170px;
}

.header-wrap .gnb > ul > li {
  position: relative;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
  overflow: hidden;
  align-items: center;
}

#header.active .gnb > ul > li a:hover {
  color: #e4007e;
}

.header-wrap .gnb > ul > li > a {
  font-size: 21px;
  color: #fff;
  line-height: 60px;
  display: block;
}

.header-wrap .gnb > ul > li > ul {
  padding-top: 20px;
  margin-top: 0px;
  padding-bottom: 20px;
  display: none;
}

.header-wrap .gnb > ul > li > ul::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 1px;
  height: calc(100% - 30px);
  background: #ddd;
  opacity: 1;
  transition: 10s;
}

.header-wrap .gnb > ul > li > ul > li {
  text-align: left;
}

.header-wrap .gnb > ul > li > ul > li > a {
  font-size: 17px;
  font-weight: 400;
  line-height: 2;
  padding: 0 0 0 30px;
  color: #333;
}

.header-wrap .gnb > ul > li > ul > li > a::before {
  content: "-";
  padding-right: 5px;
}

.header-wrap > .gnb > ul > li > a::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #ccc;
}

.header-wrap > .gnb > ul > li:last-child > a::after {
  display: none;
}

.header-wrap > .gnb > ul > li:last-child > ul > li > a {
  padding: 0 0 0 70px;
  position: relative;
}

.header-wrap > .gnb > ul > li:last-child > ul > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(1) > a::before {
  background: url("../images/gnb01.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(2) > a::before {
  background: url("../images/ico_depart02.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(3) > a::before {
  background: url("../images/ico_depart03.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(4) > a::before {
  background: url("../images/ico_depart04.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(5) > a::before {
  background: url("../images/ico_depart05.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(6) > a::before {
  background: url("../images/ico_depart06.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(7) > a::before {
  background: url("../images/ico_depart07.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(8) > a::before {
  background: url("../images/ico_depart08.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(9) > a::before {
  background: url("../images/ico_depart13.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(10) > a::before {
  background: url("../images/ico_depart10.svg") no-repeat 50% 100%/30px;
}

.header-wrap > .gnb > ul > li:last-child > ul > li:nth-child(11) > a::before {
  background: url("../images/ico_depart14.svg") no-repeat 50% 100%/30px;
}

/* footer */
.footer {
  padding: 0 0 100px;
}

.footerTop {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.inner {
  width: 1600px;
  margin: 0 auto;
}

.footerTop .inner .familysite {
  display: flex;
}

.footerTop .inner .cell {
  width: 320px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  margin-right: -1px;
}

.footerTop .inner .cell > ul > li > a {
  line-height: 54px;
  padding: 0 20px;
  text-align: left;
  display: block;
}

.footerTop .inner .cell > ul > li {
  position: relative;
}

.footerTop .inner .cell > ul > li > a::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/footerTop-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.footerTop .inner .cell > ul ul {
  display: none;
  position: absolute;
  left: -1px;
  bottom: 55px;
  width: calc(100% + 2px);
  height: 200px;
  padding: 10px 20px;
  background: #f1f1f1;
  text-align: left;
  line-height: 1.4;
  /* display: block; */
  overflow-y: auto;
}

.footerBody {
  margin-top: 36px;
}

.footerBody .inner {
  display: flex;
}

.footerBody .inner .right {
  flex: 0 0 70%;
  max-width: 70%;
  text-align-last: left;
}

.footerBody .inner .right .footerMenu {
  display: flex;
}

.footerBody .inner .right .footerMenu li {
  margin: 0 0 18px 18px;
  position: relative;
  font-size: 18px;
}

.footerBody .inner .right .footerMenu li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 1px;
  height: 10px;
  background: #ccc;
  transform: translateY(-50%);
}

.footerBody .inner .right .footerMenu li:first-child:before {
  display: none;
}

.footerBody .inner .right .footerAddress {
  margin-top: 50px;
}

.footerBody .inner .right .footerAddress .top {
  display: flex;
  margin-bottom: 10px;
}

.footerBody .inner .right .footerAddress .top .footerLogo {
  margin-right: 20px;
  width: 110px;
  height: 24px;
}
.footerBody .inner .right .footerAddress .top .footerLogo img {
  width: 100%;
  height: 100%;
  display: block;
}

.footerBody .inner .right .footerAddress .top .footTxt div a {
  color: #0f6ca1;
  border-bottom: 1px solid #0f6ca1;
  margin-right: 24px;
}

.left .footSns {
  justify-content: flex-end;
  display: flex;
}

.left .footSns > a {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
}

.left .footSns > a:last-child {
  display: block;
  position: relative;
  width: 90px;
  height: 45px;
  text-indent: -9999px;
}

.left .footSns > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/ico_sns\ \(1\).png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.left .footSns > a:nth-child(1):before {
  background-position: -315px center;
}

.left .footSns > a:nth-child(2):before {
  background-position: -45px center;
}
.left .footSns > a:nth-child(3):before {
  background-position: -90px center;
}
.left .footSns > a:nth-child(4):before {
  background-position: -135px center;
}
.left .footSns > a:nth-child(5):before {
  background-position: -180px center;
}
.left .footSns > a:nth-child(6):before {
  background-position: -225px center;
}
.left .footSns > a:nth-child(7):before {
  background-position: -270px center;
}
.left .footSns > a:nth-child(8):before {
  background-position: -360px center;
}

.left .footMinwon {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.left .footMinwon .top {
  display: flex;
  align-items: end;
}

.left .footMinwon .callNum {
  margin-left: 10px;
  font-size: 45px;
}

.left .footMinwon > p {
  margin-top: 5px;
}

.footMark {
  text-align: right;
  display: block;
}

.footMark a {
  display: inline-block;
  margin-right: 0;
}

.footMark a img {
}
